header#header
  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .navbar-header
        a.navbar-brand(href='/') Saepta-α 
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        if (req.isAuthenticated())
          li(class=isActive('/dashboard') ? 'active' : '')
            a(href="/dashboard", title="dashboard") Dashboard
          li.dropdown
            a.dropdown-toggle(href="#" data-toggle="dropdown") New <b class="caret"></b>
            ul.dropdown-menu
              li 
                a(href="/meetings/new") Meeting
              li
                a(href="/agendas/new") Agenda
              li
                a(href="/topics/new") Topic
      ul.nav.navbar-nav.navbar-right(style="margin-right:80px")
        if (req.isAuthenticated())
          li 
            a(href="#")= "Welcome, " + req.user.name
          li
            a(href="/users/"+req.user.id, title="Profile") Profile
          li
            a(href="/logout", title="logout") Logout
          
        else
          li
            a(href="/signup", title="SignUp") Sign Up
          li
            a(href="/login", title="Login") Login
        li
          a(href="/help", title="Help") Help
        li
          a(href="http://github.com/johnsonnc/saepta")
            img(style="position: fixed; top: 0; right: 0; border: 0; z-index: 9999",
            src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png",
            alt="Fork me on GitHub")