/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * LOGO
*/





/*------------------------------------*\
    $LOGO
\*------------------------------------*/

header{
   width: 100%;
   height: 100px;
   background-color: rgba(44,62,80,1);
   color: #000000	;
   }

brand{
	width:30%;
	position:relative;
	top:0;
	left:0;
	height:100px;
	float:left;
	color: #000000;
}

nav{
	position:relative;
   	width: 30%;
   	height:100px;
   	padding-top:50px;
   	font-size:30px;
   	color: #000000!important;
    float:left;
   	ul{
    list-style: none;
    
    li {
    			background-color: rgba(252,67,73,1);
    			padding:10px;
    			margin-left:10px;
      			display:inline;
      			a{
      			      			color: #ffffff!important;
      			      			text-decoration: none;}
      		}
      		}
      	
    }
    

.brand{
   font-size: 72px;
   color: #ffffff!important;
   text-decoration: none;
   float:left;

}

user{
	color:#ffffff!important;
	float:right;
	bottom:0px;
	height: 100%;
	padding-top:40px;
	text-align:right;
	padding-right:30px;
}