/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * GRID
*/





/*------------------------------------*\
    $GRID
\*------------------------------------*/

main{
	width:100%;
	left:0px;
	position:absolute;
	min-height: 100%;
       height: auto !important;
	height:100%;
	margin: 0 auto -60px;

}
sidebar{
	width:30%;
	
	left:0;
	height:100%;
	position:absolute;
	float:left;
	-moz-box-shadow: 2px 0px 3px rgba(47,52,64,.5);
-webkit-box-shadow: 2px 0px 3px rgba(47,52,64,.5);
box-shadow: 2px 0px 3px rgba(47,52,64,.5);

}
content{
	width:69%;
	
	right:0;
	height:100%;
	position:absolute;
	float:left;
}
footer {
	bottom:0;
	left:0;
	position:fixed;
	height: 20px;
	width: 100%;
	text-align:center;

}

centerContent{
	width:100%;
	padding-left:10px;
	padding-right:10px;
}
leftContent{
	float:left;
	width:80%;
	margin-left:40px;
	margin-top: 30px;
	border: solid thin  rgba(47,52,64,0.1);
	height: 500px;
	position:absolute;
}
rightContent{
	position:absolute;
	right:4px;
	text-align:right;
	text-decoration:none;
	top:100px;
	font-size:32px;
	ul{li{
			text-decoration:none;
			list-style:none;
		}}
}