<main>

<loginBox>

<div id="loginTitle"><h3>Login to Septa</h3></div>
<div id="loginCollection">
<form action="POST" action="/login">
<label for="login">Login</label><input type="text" id="login" length="30"></input>
<label for="password">Password</label><input type="password" id="password" length="30" ></input>
</form>
</div>
</loginBox>

</main>