extends auth

block auth
  form.login.form-horizontal(action="/users/session", method="post")
    input(type='hidden', name='_csrf', value="#{csrf_token}")

    p.offset2.error= message

    .form-group
      label.col-lg-2.control-label(for='email') Email
      .col-lg-10
        input.form-control#email(type='email', name="email", placeholder='Email')

    .form-group
      label.col-lg-2.control-label(for='password') Password
      .col-lg-10
        input.form-control#password(type='password', name="password", placeholder='Password')

    .form-group
      label.col-lg-2
      .col-lg-10
        button.btn.btn-primary(type='submit') Login
        &nbsp;
        | or&nbsp;
        a.show-signup(href="/signup") sign up
