extends ../layouts/default

block main
  h1= title

block content
  #intro 
    <i>Welcome To Saepta!</i>

  #introBody
    p
      Saeptal bridges the gap between meetings, agendas, and collaboration.
